.DS_Store
doc/.DS_Store
doc/sprint0/.DS_Store
doc/sprint1/.DS_Store
app/bin
app/include
app/lib
app/pyvenv.cfg
app/Scripts
app/Include
app/Lib
app/bargain_box/db.sqlite3
.vscode
app/bargain_box/bargain_box/__pycache__
app/bargain_box/home/__pycache__
app/bargain_box/post/__pycache__
app/bargain_box/user_authentication/__pycache__
app/bargain_box/user_profile/__pycache__
app/bargain_box/users/__pycache__