{% extends "home/foundation.html" %}


{% block content %}
<div class="container">
    <h1 class="text-center display-4">
        Detailed Listing of <span style="color:rgb(137, 91, 13); font-weight: bold;">{{ post.title }}</span>

        {% comment %}
        Again since there is mismatch in the model so I didn't configure for you right away Annie
        but feel free to delete these comemnts and make your own url, Timothy 
        
        <span style="font-size:0.5em"><a href="{% url 'post-edit' post.pk %}">Edit</a></span>
        {% endcomment %}

        <span style="font-size:0.5em"><a href="{% url 'post-edit' pk=post.pk %}">Edit</a></span>
    </h1>
</div>
<h2 class="text-center">
    Date posted: {{ post.date_posted }} UTC
</h2>
<h2 class="text-center posted-by">
    Seller: <a href="{% url 'view-profile-given-user-pk' user_to_view_pk=post.author.pk %}?origin={{request.path}}"><img class="profile-image" src="{{ post.author.profile.image.url }}" alt="user profile image">{{post.author.username}}</a>
</h2>
{% if post.image %}
    <div class="text-center">
        <a href="{{ post.image.url }}">
            <img src="{{ post.image.url }}" 
            alt="{{ post.title }}" 
            class="img-fluid" style="max-width: 400px; max-height: 400px;">
        </a>
    </div>
{% endif %}

<br>

<div class="container align-items-center justify-content-center">
    <h3>Description: {{ post.content }}</h3>
    <h3>Location: {{ post.location }}</h3>
    <h3>Quantity: {{ post.quantity }}</h3>
    <h3>Price: {{ post.price }}</h3>
</div>

{% if post.author == user %}
    <div class="text-center">
        <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete Post</a>
    </div>
{% endif %}

<!--This is for the Add and Remove Bookmark Buttons-->
{% if user in post.bookmarks.all %}
    {% comment %}
    Hey, Timothy, this is where you can add the remove bookmark button
    {% endcomment %}

    {% if user != post.author %}
        <form action = " {% url 'removing_bookmark' post.id %}" method = "post">
            {% csrf_token %}
            <div style = "display: flex; justify-content: center; align-items: center;">
                <button class = "btn custom" type = "submit">Delete BookMark</button>
            </div>
        </form>
        <style>
            .custom
            {
                background-color: rgb(41, 142, 108);
                cursor: pointer;
                border-radius: 10px;
                font-size: 20px;
                color: white;
                justify-content: center;
            }
        </style>
    {% endif %}

{% else %}
    <!--Creates the Add Bookmark button-->
    {% if user.is_authenticated %}
        {% if user != post.author %}
            <form action = " {% url 'adding_bookmark' post.id %}" method = "post"> 
                {% csrf_token %} 
                <div style = "display: flex; justify-content: center; align-items: center;">
                    <button class = "btn custom" type = "submit">Add Bookmark</button>
                </div>
            </form>
            <style>
                .custom
                {
                    background-color: rgb(41, 142, 108);
                    cursor: pointer;
                    border-radius: 10px;
                    font-size: 20px;
                    color: white;
                    justify-content: center;
                }
            </style>
        {% endif %}
    {% endif %}
{% endif %}

{% endblock content %}

