{% extends "home/foundation.html" %}

{% block content %}
    {% for post in posts %}
        <article class="post content-section" style="border: 2px solid #ccc; padding: 20px; margin-bottom: 20px; border-radius: 5px; background-color: #f0d29cfa;">
            <div class="post-body">
                <div class="post-metadate">
                    <a class="mr-2" href="#">{{post.author.username}}</a>
                    <small class="text-muted">{{post.date_posted|date:"F d, Y"}}</small>
                </div>
                <h2 class="post-title" 
                    style=
                    "
                        font-size: 2rem; 
                        font-weight: bold; 
                        color: #333; 
                        margin-bottom: 10px; 
                        text-transform: uppercase; 
                        letter-spacing: 1px; 
                        position: relative;
                    ">
                    <a href="#" style="color: #333; text-decoration: none; transition: all 0.3s ease-in-out;">
                        <span style="position: relative;">
                            <span style="font-size: 1.5rem; color: #db250d; margin-right: 10px;">🍁</span>
                            {{post.title}}
                        </span>
                    </a>
                </h2>
                <p class="post-content">{{post.content}}</p>
                <p class="post-location"><strong>Location:</strong> {{post.location}}</p>
                <p class="post-quantity"><strong>Quantity:</strong> {{post.quantity}}</p>
                <p class="post-price"><strong>Price:</strong> ${{ post.price }}</p>
            </div>
        </article>     
    {% endfor %}
{% endblock content %}
