
nav {
    background-color: #32612d;
}

nav img {
    width: 205px;
    height: 45px;
}

.nav-links ul {
    list-style-type:circle;
    margin: 0px;
}

.nav-links li {
    display: inline;
    padding-left: 20px;
    color: #ffffff;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

.nav-links a:hover {
    text-decoration: none;
    color: rgb(183, 255, 128);
    font-size: 1.25em;
}

main {
    margin: 12px;
}

main h1 {
    text-align: center;
}
