{% extends "user_profile/user_profile_foundation.html" %}

{% block user_profile_content %}
<h1>Profile</h1>
<img class="profile-image" src="{{ user.profile.image.url }}" alt="user profile image">
<p><label>Username:</label> {{ user.username }}</p>
<p><label>Email:</label> {{ user.email }}</p>
<p><label>Account created on:</label> {{ user.date_joined | date:"F j, o @ P e"}}</p>
<div class="bb-btn-set">
    <a class="bb-btn-link bb-btn-green" href="{% url 'edit-profile' %}">Edit</a>
    <a class="bb-btn-link bb-btn-red" href="{% url 'delete-profile' %}">Delete</a>
</div>
{% endblock user_profile_content %}
