{% extends "home/foundation.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="profile col-sm-12 col-md-10 col-lg-8 col-xl-6">
                <h1>You have been signed out</h1>
                <div class="bb-btn-set">
                    <a class = "bb-btn-link bb-btn-green" href="{% url 'home' %}">Home</a>
                    <a class = "bb-btn-link bb-btn-green" href="{% url 'signin' %}">Sign in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
