{% extends "user_profile/user_profile_foundation.html" %}

{% block user_profile_content %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend><h1>Sign in</h1></legend>
        {{ form.as_p }}
    </fieldset>
    <div class="bb-btn-set">
        <button class="bb-btn bb-btn-green" type="submit">Sign in</button>
    </div>
</form>
<div class="bb-btn-set">
    <small class="text-muted">Don't have a BargainBox account? <a class = "ml-2" href="{% url 'register' %}">Register</a> instead.</small>
</div>
{% endblock user_profile_content %}
